

/*水平线*/
.hr {
	width: 100%;
	position: relative;
	border-bottom: 1px solid #dddddd;
	/* height: 0.5rpx; */
}

/* 一行显示 */
.clamp {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
}
/* 二行显示 */
.ellipsis{
	overflow:hidden; 
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
}
.common-hover {
	background: #f5f5f5;
}

/* 角标 */
.corner{
	background-color:#e51c23;
	position: absolute;
	right: -18rpx;
	top: -18rpx;
	color:#FFFFFF;
	text-align: center;
	border-radius: 999px;
	font-size: 24rpx !important;
	min-width: 35rpx;
	min-height: 35rpx;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
}
/*文字对齐*/
.text-left {
	text-align: left !important;
}

.text-center {
	text-align: center !important;
}

.text-justify {
	text-align: justify !important;
}

.text-right {
	text-align: right !important;
}

.text-default {
	color: #212121 !important;
}

.text-white {
	color: #ffffff !important;
}

.text-primary {
	color: #00bcd4 !important;
}

.text-success {
	color: #009688 !important;
}

.text-info {
	color: #03a9f4 !important;
}

.text-warning {
	color: #ffc107 !important;
}

.text-danger {
	color: #e51c23 !important;
}

.text-pink {
	color: #e91e63 !important;
}

.text-purple {
	color: #673ab7 !important;
}

.text-indigo {
	color: #3f51b5 !important;
}

.text-gray {
	color: #999999 !important;
}

.bg-default {
	background-color: #f5f5f5 !important;
}

.bg-primary {
	background-color: #00bcd4 !important;
}

.bg-success {
	background-color: #009688 !important;
}

.bg-info {
	background-color: #03a9f4 !important;
}

.bg-warning {
	background-color: #FFB238 !important;
}

.bg-danger {
	background-color: #DC4D46 !important;
}

.bg-pink {
	background-color: #e91e63 !important;
}

.bg-purple {
	background-color: #673ab7 !important;
}

.bg-indigo {
	background-color: #3f51b5 !important;
}

.bg-white {
	background-color: white !important;
}

.bg-gray {
	background-color: #e3e3e3 !important;
}

/* 边框 */
.border-radius-15 {
	border-radius: 15rpx;
}

.border-radius-10 {
	border-radius: 10rpx;
}

.border-radius-all {
	border-radius: 1000rpx;
}

/* 底部边线 */
.borde-b {
	border-bottom: 1px solid #dddddd;
}

/* 弹性盒子 */
.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.flex_item {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
}
.items-left {
	justify-content: flex-start;
}

.items-right {
	justify-content: flex-end;
}

.flex-shrink-false {
	flex-shrink: 0;
}

.flex-grow-true {
	flex-grow: 1;
}

.position-relative {
	position: relative;
}
